<footer class="w-full">
    <section id="bottom" class="bg-[#31656F] py-10 text-[#FFFFFF]">
        <div class="container mx-auto flex flex-col gap-8 justify-center">
            <div class="font-medium text-[27px]">
                <h1>Rejoignez notre communauté solidaire et inclusive !</h1>
            </div>
            <div class="flex text-[14.5px]">
                <div class="flex-1 flex">
                    <div class="flex flex-col gap-3">
                        En tant que conducteur :
                        <ul class="list-disc list-inside">
                            <li>
                                Proposez vos trajets et aidez les personnes à mobilité réduite à se déplacer.
                            </li>
                            <li>
                                Cumulez des kilomètres solidaires et gagnez des récompenses.
                            </li>
                            <li>
                                Rencontrez des personnes formidables et contribuez à une société plus inclusive.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-1 flex">
                    <div class="flex flex-col gap-3 text-[14.5px]">
                        En tant que passager :
                        <ul class="list-disc list-inside">
                            <li>
                                Trouvez facilement des trajets adaptés à vos besoins.
                            </li>
                            <li>
                                Bénéficiez de l'accompagnement et de la bienveillance de nos conducteurs.
                            </li>
                            <li>
                                Déplacez-vous en toute confiance et en toute autonomie.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <a href="" class="bg-[#FFFFFF] text-[#31656F] text-[14.5px] font-medium rounded-full py-4 px-6">En
                    savoir plus</a>
            </div>
        </div>
    </section>
</footer>